---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% assign has_talks = false %}
{% for post in site.talks %}{% assign has_talks = true %}{% endfor %}

{% if has_talks %}
  {% for post in site.talks reversed %}
    {% include archive-single-talk.html %}
  {% endfor %}
{% else %}
  <p><em>Talks and conference presentations will be listed here as they occur.</em></p>
{% endif %}
